@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 231, 246);
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #202124;
}


/*-------------------------Navigation section -----------------------*/

nav {
    background-color: rgb(26, 35, 126);
    color: rgb(255, 255, 255);
}

header nav .image {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 2%;
    font-size: 32px;
}

header nav .brand-logo {
    font-size: 1.5rem;
}

h1 {
    font-size: 32px;
}


/*-------------------------Main section -----------------------*/

.logo {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    width: 60px;
}

h2 {
    color: rgb(26, 35, 126);
    line-height: 38px;
    font-weight: 400px;
    font-size: 34px;
    font-style: normal;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    line-height: 20px;
    font-weight: 400px;
    font-size: 14px;
    font-style: normal;
    margin-top: .9rem;
    margin-bottom: .5rem;
}


/*-------------------------form section -----------------------*/

.btn {
    width: 215px;
    height: 6.5vh;
    line-height: 36px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    background-color: rgb(26, 35, 126);
    color: rgb(255, 255, 255);
    font-family: 'Segoe uI', sans-serif;
}

.btn:hover {
    background-color: rgb(26, 35, 126);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(26, 35, 126);
}

.p-tag {
    line-height: 20px;
    font-weight: 400px;
    font-size: 14px;
    font-style: normal;
    color: rgb(26, 35, 126);
}